wings:
    gpio:
        left_button: 5
        right_button: 6
        moving_sensor: 26
        motor_direction_1: 19
        motor_direction_2: 13
head:
    mouth:
        gpio:
            opened_sensor: 21
            closed_sensor: 20
            motor: 16
    eyes:
        gpio:
            opened_sensor: 7
            closed_sensor: 8
            motor: 25
            left_led: 23
            right_led: 24
    gpio:
        head_button: 12
